[Bb]in
[Oo]bj

*.ReSharper
_ReSharper.*
*.user
*.suo
*.sln.cache
*.resharper

_N_GeneratedSource_NRails.n
Demo/NRails.Dinner/App_Data/*
Demo/NRails.Dinner/lib/nrails/*
Demo/NRails.Demo/lib/nrails/*
